@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #fff;
  --background-color: linear-gradient(to bottom, #1A4A1C, #308834 600px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100svw;
  min-height: 100svh;
  color: var(--text-color);
}